@import "custom";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: rgba(237,22,80, .05);
}
/* Navbar section */
.nav {
    width: 100%;
    position: fixed;
    //line-height: 65px;
    text-align: center;
    z-index: 10;
    background-color: rgba(237, 22, 79, 0.3);
}
.nav-login{
    width: 100%;
    //line-height: 65px;
    text-align: center;
    z-index: 10;
    background-color: rgb(237, 22, 79);
}
.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    align-items: center;
}
.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}
.nav div.main_list {
    height: 65px;
    float: right;
}
.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-link{
    padding: 0px!important;
}
.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}
.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.7vw;
    height: 60px;
}
.nav div.main_list ul li a:hover {
    color: rgb(21, 237, 179);
    border-bottom: 1px solid rgb(21, 237, 179);
}
.navTrigger {
    display: none;
}
.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/* Media qurey section */
@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: block;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 70vh;
        font-size: medium;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
        padding: 5%;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}
/* Animation */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}
.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}
.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}
@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}
@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}
@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}
@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}
@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}
@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}
@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}
@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}
@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}
.affix {
    padding: 0;
    background-color: rgb(237,22,80);
}
/* Sections */
//Section Home
.section::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('./assets/millennialsviaje.jpg') center center;
    background-repeat: no-repeat;
    opacity: 1;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding: 10%;
    position: relative;
    z-index: 5; 
}
.sectionHome{
    background-color: rgba($color: #000000, $alpha: .45);
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 40%;
    height: fit-content;
    align-self: center;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
.sectionHome p {
    font-size: 3vw;
}
.btn-my{
    font-size: 2vw;
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 20px;
}
.btn-my:hover{
    background-color: rgb(237,22,80);
    transform: scale(1.01);
    transform: translateY(1px);
    box-shadow: 2px 2px 5px rgb(237,22,80);

}
//Section Cities
.sectionC::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('./assets/citiesimg.jpg') no-repeat bottom;
    background-size: cover;
    opacity: .7;
}
.sectionC {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    padding: 10%;
    position: relative;
    z-index: 5; 
}
.sectionCities{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 70%;
    height: 30%;
    opacity: 1;
    font-size: 2.5vw;
  }
.sectionCities p{
    background-color: rgba($color: #000000, $alpha: .8);
    margin: 10px auto;    
    width: 50%;
    border-radius: 15px;
    margin-bottom: 35px;
}
.sectionCities input{
    width: 90%;
    border: none;
    text-align: center;
    padding: 8px;
    font-size: 1.9vw;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(237, 22, 79, 0.80);
}
.sectionCities input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 5px 5px 9px rgba(237, 22, 79, 0.80);
}
//Section Itinerary
.sectionI {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding: 12% 5% 3% 5%;   
}
.sectionI::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('./assets/itinerary.jpg');
    height: 80vh;
    background-size: cover;
    opacity: .3;
}
.foto_itenerary{
    background-repeat: no-repeat;
    height: 50vh;
    width: 90vw;
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 0px 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px !important;
  }
.texto_itenerary{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba($color: #000000, $alpha: .8);
    font-size: 3vw;
    font-weight: 700;
    border-radius: 20px 20px 0px 0px;
    padding: 2.5vh;
    margin-bottom: 0px !important;
    width: 100%;
    text-align: center;
}
.flag{
    height: 7vh;
    width: auto;
    margin-left: 1vw ;
}
.street-view{
    width:100%;
    height: 50vh;
    border-radius: 0px 0px 20px 0px;
}
//Section Itinerary-Activities
.fondo_actividad{
    background-repeat: no-repeat;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.MuiRating-root{
    color: green !important;
}

.btn-mz{
    font-size: 1.5vw;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 20px;
}
.btn-mz:hover{
    background-color: rgb(237,22,80);
    transform: scale(1.01);
    transform: translateY(2px);
    box-shadow: 2px 2px 5px rgb(237,22,80);

}

.row{
    width: 100%!important;
}
.foto_not_found{
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-size: 5vh;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
  }
.foto_not_found p {
    background-color: rgba($color: #000000, $alpha: .8);
    padding: 6vh;
    margin-bottom: 0px !important;
    width: 100%;
    text-align: center;
}
.foto_carrusel{
  background-repeat: no-repeat;
  height: 50vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  font-size: 5vh;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px !important;
}
.foto_carrusel:hover{
  transform: scale(1.01);
  box-shadow: 2px 2px 5px rgba(237, 22, 79, 0.80);

}
.foto_carrusel p{
  background-color: rgba($color: #000000, $alpha: .5);
  padding: 3vh;
  margin-bottom: 0px !important;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}





//Admin
.admin_input{
    padding-left: 15px;
    width: 70%;
    font-size: 20px;
    margin: 0.5vh;
    border: none;
    box-shadow: 1px 1px 3px rgba(27, 0, 136, 0.808);
  }
.admin_input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 1px 1px 3px rgba(237, 22, 79, 0.80);
}

.btn-mx{
    font-size: 1.5vw;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    margin: 20px;
}
.btn-mx:hover{
    background-color: rgb(27, 0, 136);
    transform: scale(1.03);
    transform: translateY(1px);
    box-shadow: 2px 2px 5px rgb(27, 0, 136);

}


//login
.separator-line {
    width: 100%;
    text-align: center;
    margin: 20px auto 20px;
    font-size: 14px;
}
.separator-line span {
    background: rgb(253,232,238);
    padding: 0 15px;
}
.separator-line .line {
    width: 70%;
    border-top: 1px solid #ccc;
    margin-top: -9px;
    display: block;
    padding: 0;
    text-align: center;
    
}
.login_input{
    padding-left: 15px;
    width: 70%;
    height: 7vh;
    margin: 0.5vh;
    border: none;
  }
.login_input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 5px 5px 9px rgba(237, 22, 79, 0.80);
}
.login_input span{
    font-size: 20px;
    color: rgb(26, 23, 23);
}

.input-file[type=file]{
    display: none;
}
.profile-pic-register{
    width: 70%;
    margin-bottom: 2vh;
}
.label_input_file{
    width: 70%;
    margin: 0.5vh;
    border: none;
}
.label_input_file div p{
    font-size: 20px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(27, 0, 136, 0.808);
    width: 100%;

}